@import "variables";

body {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  text-align: center;
  border-bottom: rgb(204, 6, 204) 2px solid;
  background-color: $background;
  height: 50px;
  padding: 10px;
  margin: 0;
}
.container-game {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  &__start,
  &__pause,
  &__reset {
    margin: 15px;
    padding: 15px;
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    font-weight: 900;
  }
}

.board {
  border: 1px black solid;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;

  &__column {
    display: flex;
    flex-direction: column;
    // align-items: center;
    &__cell {
      width: 22px;
      height: 22px;
      margin: 2px;
      border: purple;
      background-color: $mainColor;
    }
  }
}
